.color-background {
  background: rgb(17, 9, 152);
  background: linear-gradient(
    353deg,
    rgba(17, 9, 152, 1) 0%,
    rgba(9, 9, 121, 1) 23%,
    rgba(0, 212, 255, 1) 100%
  );
}

.border1 {
  border: 2px solid #0b51a2;
  border-radius: 1rem 1rem 1rem 1rem;
}

.borderForm {
  border: 3px solid #0b087a;
  border-radius: 1rem 1rem 1rem 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  position: fixed;
  z-index: -1;
  inset: 0px;
  overflow: hidden;
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
  opacity: 0.5;
  background-image: url('../imagens/bma/back.jpg');
}
