.color-background {
  background: rgb(17, 9, 152);
  background: linear-gradient(
    353deg,
    rgba(17, 9, 152, 1) 0%,
    rgba(9, 9, 121, 1) 23%,
    rgba(0, 212, 255, 1) 100%
  );
}

.border1 {
  border: 3px solid #0b51a2;
  border-radius: 2rem 1rem 1rem 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  position: fixed;
  z-index: -1;
  inset: 0px;
  overflow: hidden;
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 50%;
  opacity: 0.5;
  background-image: url('../imagens/bma/back.jpg');
}

.lira {
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0.7));
}

#togglePassword {
  position: absolute;
  top: 20%;
  right: 12%;
  cursor: pointer;
}
